@model Milestone.Models.PlayerInfo

<div>
    <h4>Failure!</h4>
    <hr />
    <p>Try Again!</p>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
