<h2>Some information entered was incorrect Please try again</h2>

<div class="form-group">
    <input type="submit" value="Login" class="btn btn-primary" href="https://localhost:44316/Player/Login" />
</div>
